{{#perspective-tilt}}
<div class="home__full-wrap flex--wrap flex-grid flex--column">
  <div class="home__intro column--2of4 small-text white-border-bottom">
    <p class="-text--center">
      <h3>June 15 — Talks</h3><br>
      <h3>June 16 — Workshops</h3><br>
    DinosaurJS is a non-profit, community-driven JavaScript converence in Denver, Colorado.
    DinosaurJS is part of the <a href="http://jsconf.com/" target="_blank">JSConf Family of Events</a> and adheres to the <a href="http://jsconf.com/codeofconduct.html" target="_blank">JSConf Code of Conduct</a>.
    </p>
  </div>

  <div class="home__svg white-border-bottom  white-border-left column--2of4">
    <div class="mover">
      <div class="grid-box-50">
        <div>
          <svg width="323px" height="323px" viewBox="0 0 323 323" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect id="Combined-Shape-Copy" fill="#F05942" x="-24.1796083" y="60.1003023" width="371" height="202.439377" rx="100"></rect></g></svg>
          <svg width="323px" height="323px" viewBox="0 0 323 323" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect id="Combined-Shape-Copy" fill="#F05942" x="-24.1796083" y="60.1003023" width="371" height="202.439377" rx="100"></rect></g></svg>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="https://ti.to/dinosaurjs/2017" class="buy-tix home__h4 white-border-bottom column--2of4"><h4>Purchase Tickets</h4></a>


<div class="home__half-wrap flex--wrap flex-grid flex--column">
  <div class="kit home__50 white-border-bottom column--2of4">Keep in touch</div>

  <form action="//dinosaurjs.us12.list-manage.com/subscribe/post?u=50315fee4889ecfe0c9a664cd&amp;id=9261db23f6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
    <input type="email" value="" placeholder="Email*" name="EMAIL" class="home__input white-border-bottom white-border-left" id="mce-EMAIL">
    <input type="text" value="" placeholder="First Name" name="FNAME" class="home__input white-border-bottom white-border-left" id="mce-FNAME">
    <input type="text" value="" placeholder="Last Name" name="LNAME" class="home__input white-border-bottom white-border-left" id="mce-LNAME">
    <button type="submit" value="Yes!" class="home__button white-border-left white-border-bottom column--2of4">Sign Up</button>
  </form>
</div>


<div class="home__full-wrap flex--wrap flex-grid flex--column">

  <div class="home__svg column--2of4">
    <div class="mover">
      <div class="grid-box-50">
        <div>
          <svg width="274px" height="274px" viewBox="0 0 174 174" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect id="Combined-Shape" fill="#FDE4A9" x="0" y="0" width="173.509775" height="173.310058"></rect></g></svg>
          <svg width="274px" height="274px" viewBox="0 0 174 174" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect id="Combined-Shape" fill="#FDE4A9" x="0" y="0" width="173.509775" height="173.310058"></rect></g></svg>
        </div>
      </div>
    </div>
  </div>

  <div class="sponsors">
    <div class="white-border-bottom white-border-left sponsors__square">Sponsors</div>

    <div class="sponsors__square flex--wrap flex-grid">
      <div class="sponsor__logo">
        <a href="https://developer.microsoft.com/en-us/" target="_blank"><img src="Microsoft_logo.svg"/></a>
      </div>
      <div class="sponsor__logo">
        <a href="https://www.ca.com/us.html" target="_blank"><img src="CA_logo.svg"/></a>
      </div>
      <div class="sponsor__logo">
        <a href="http://wearecirro.com" target="_blank"><img src="cirro.svg"/></a>
      </div>
      <div class="sponsor__logo">
        <a href="https://www.opendoor.com/" target="_blank"><img src="opendoor.svg"/></a>
      </div>
      <div class="sponsor__logo">
        <a href="https://www.linkedin.com" target="_blank"><img src="linkedin.svg"/></a>
      </div>
      <div class="sponsor__logo">
        <a href="mailto:roar@dinosaurjs.org">Become a sponsor</a>
      </div>
    </div>
  </div>

</div>

{{/perspective-tilt}}
{{outlet}}
