@keyframes spinPlz {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menu-btn {
  position: fixed;
  top: 30px;
  left: 30px;
  height: 80px;
  width: 80px;
  background: white;
  border: none;
  padding: 0;
  border-radius: 50%;
  z-index: $z_layer_10;
  animation: spinPlz 5s infinite linear;

  &:hover {
    background: white;
    color: $color_black;
    border: none;
  }
}


.nav-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: $color_black;
  z-index: $z_layer_forward;
  transform: translateX(100%);
  transition: 300ms ease-in-out;
}

.nav-exit {
  color: white;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-decoration: line-through;
}

nav {
  background: white;
  position: fixed;
  left: 0;
  width: 50%;
  height: 100vh;
  z-index: $z_layer_forward;
  transform: translateX(-100%);
  transition: 300ms ease-in-out;
}


body.nav-open {
  nav {
    transform: translateX(0%);
  }

  .nav-overlay {
    transform: translateX(0%);
  }
}
