.wrap {
  @extend .-clear;
  // opacity: 0;
  transform: translateY(100px);
  &.hidden {
    opacity: 0;
  }
  &.add-transition {
    transition: 300ms ease-in-out;
  }
  &.loaded {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container,
.wrap,
body > .ember-view  {
  min-height: 100%;
  height: 100%;
}

.inner {
  padding: 3em 20px;
  max-width: 1300px;
  margin: 0 auto;

  > h1 {
    margin: 0 0 1.5em 0;
  }
}
