.nav-search {
  position: relative;



  input[type="text"] {
    border: none;
    margin: 0;
    font-weight: $font_weight_bold;
    border-radius: 0;
    padding: 0 13px;
    font-size: 13px;
    line-height: 20px;

    &:focus {
      box-shadow: 0 2px 3px 0 #E0E0E0;
    }
  }

  li {
    display: block;
    padding: 0 20px;
    width: 100%;
    cursor: pointer;
    font-weight: $font_weight_bold;
    font-size: 13px;
    line-height: 55px;

    &:hover {
      background-color: lighten($color_blue, 50%);
    }
  }

  > ul {
    position: absolute;
    background-color: white;
    width: 100%;
    max-height: 430px;
    overflow-y: scroll;
    background-clip: padding-box;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 2px 3px 0 $color_grey_medium;
    -ms-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
