.logo-wrap {
  height: 100vh;
  background: $color_white;
  z-index: -1;
  position: relative;
}

.section--grid {
  background-image: -webkit-linear-gradient(left,#262626 1px,transparent 0),-webkit-linear-gradient(bottom,#262626 1px,transparent 0);
}

.name-wrap {
  position: fixed;
  z-index: $z_layer_10;
  bottom: 0;
  left: 30px;
}

.flexer {
  position: relative;
  z-index: $z_layer_10;
  color: $color_black;
  font-size: 8vw;
  line-height: 1;
  display: flex;
  justify-content: space-between;
}

.what-is-this {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: $z_layer_10;
  color: $color_black;
  font-size: 8vw;
  line-height: 1;
  display: flex;
  justify-content: space-between;

  svg {
    width: 400px;
    height: 100%;
  }
}

.full-overflow {
  max-height: 100vh;
  overflow: hidden;
}

canvas {
  position: relative;
}




.date {
  position: fixed;
  top: 20px;
  right: 20px;
  writing-mode: vertical-lr;
  mix-blend-mode: difference;
  z-index: $z_layer_02;
}

.count-me-down {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: $z_layer_02;
  mix-blend-mode: difference;
  text-align: right;

  div {
    min-width: 50px;
    line-height: 1;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    }

  small {
    display: block;
    margin-bottom: 15px;
  }
}

section {
  padding: 10% 5%;

  &.--section-black {
    background: $color_grey_dark;
    color: $color_white;
    -webkit-font-smoothing: antialiased;
  }

  &.--section-$color_white {
    background: $color_white;
    color: $color_grey_dark;
  }

}
