.-text-alt {
  font-family: Helvetica,Arial,serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;

  p {
    line-height: 1.5;
  }
}

.-text--white {
  color: $color_white;
  -webkit-font-smoothing: antialiased;
}

small {
  font-size: 0.4rem;
  line-height: 1.2;
}

code {
  font-family: 'Source Code Pro';
  font-weight: 400;
  color: #FD9A9B;
  font-size: 14px;
  word-wrap: break-word;
  height: 50vh;
  width: 100%;
  display: block;
  position: relative;
  background: $color_grey_dark;
  overflow: hidden;

  pre {
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
    bottom: 0;
    //animation: scrollCode 50s linear infinite alternate-reverse;
  }
}


.-text--grey {
  color: $color_grey;
}

.-text--light-grey {
  color: $color_grey_light;
}


em {
  font-style: italic;
}

strong, b {
  font-weight: $font_weight_bold;
}

p {
    margin-bottom: 50px;
    font-size: inherit;
    line-height: $base_line_height;
    input, textarea {
      font-size: 1rem !important;
      line-height: inherit;
      margin-bottom: 0 !important;
    }
    }

a {
    transition: $base_transition_duration1 ease;
    -moz-transition: $base_transition_duration1 ease;
    -webkit-transition: $base_transition_duration1 ease;
    font-weight: normal;
    text-decoration: none;
    color: $color_black;
    }

p a {
  border-bottom: 2px solid $color_grey;
}

.a--nav {
    transition: all $base_transition_duration1 ease;
    -moz-transition: all $base_transition_duration1 ease;
    -webkit-transition: all $base_transition_duration1 ease;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: $color_black;

    &:hover,
    &.active {
        color: $color_black;
        border-bottom-color: $color_black;
        }
    }

h1 {
    font-size: 4rem;
    font-size: 19vw;
    font-weight: $font_weight_bold;
    line-height: 1.1em;
    margin-bottom: 1.5rem;
    input {
      font-size: 4rem !important;
      line-height: 1.1em !important;
    }
    }

h2 {
    font-size: 2.5rem;
    font-weight: $font_weight_bold;
    margin-bottom: 1rem;
    input {
      font-size: 2.5rem !important;
      line-height: inherit;
    }
    }


h3 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: $font_weight_normal;
  input {
    font-size: 2.5rem !important;
    line-height: inherit;
  }
}

h4 {
  font-size: 1.75rem;
  font-weight: $font_weight_normal;
  line-height: 1.2;
  margin-bottom: 1rem;
  input {
    font-size: 1.75rem !important;
    line-height: 1.2 !important;
  }
}

h5 {
  font-size: 0.8rem;
  font-weight: $font_weight_normal;
  input {
    font-size: 0.8rem !important;
    line-height: inherit;
  }
}

h6 {
  font-size: 1.2rem;
  font-weight: $font_weight_normal;
  input {
    font-size: 1.2rem !important;
    line-height: inherit;
  }
}


.huge-text {
  font-size: 7rem;
  font-weight: $font_weight_bold;
}

.-uppercase {
  text-transform: uppercase;
}

.small-text {
  font-size: .7rem;
}

.extra-small-text {
  font-size: 0.9em;
}

@media only screen and ( max-width: $break_tablet_medium ) {
  h3 {
    font-size: 1.6rem;
  }

  h2 {
    font: 2rem;
  }

  html {
    font-size: $base_font_size_sm;
  }
}
