.seventeen {
  .bottom-menu {
    overflow: hidden;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom-menu a {
    display: inline;
    color: $color_white;
    flex-grow: 1;
    text-align: center;
  }
}

@media ( max-width: $break_tablet_medium ) {
  .seventeen {
    .bottom-menu {
      flex-wrap: wrap;
      display: flex;
      height: auto;
    }
    .bottom-menu > a {
      display: block;
      width: 33.3%;
      padding: 40px 10px;
      height: 16vmax;
    }
    .bottom-menu > a:nth-child(-n+3) {
      border-bottom: 1px solid $color_white;
    }
  }

}
