<div class="bottom-menu flex-grid white-border-top">
  <a href="http://wearecirro.com" class="small-text padding--50">Site Credit</a>
  <a href="https://ti.to/dinosaurjs/2018" class="small-text padding--50">Tickets</a>
  <a href="https://twitter.com/dinosaur_js" target="_blank" class="small-text padding--50">@dinosaur_js</a>
  <a href="https://confreaks.tv/events/dinosaurjs2017" target="_blank" class="small-text padding--50">2017 Talks</a>
  <a href="mailto:roar@dinosaurjs.org" class="small-text padding--50">Contact</a>

  {{yield}}
</div>
