<div class="bottom-menu flex-grid white-border-top">
  {{#link-to '2016.home' classNames="small-text padding--50"}}2016 Website{{/link-to}}
  {{#link-to 'seventeen' classNames="small-text padding--50"}}Site Credits{{/link-to}}
  {{#link-to 'seventeen' classNames="small-text padding--50"}}Twitter{{/link-to}}
  {{#link-to 'seventeen' classNames="small-text padding--50"}}Tickets{{/link-to}}
  {{#link-to 'seventeen' classNames="small-text padding--50"}}2016 Talks{{/link-to}}
  {{#link-to 'seventeen' classNames="small-text padding--50"}}Contact{{/link-to}}

  {{yield}}
</div>
