<div class="bottom-menu flex-grid white-border-top">
  {{#link-to '2016.home' classNames="small-text padding--50"}}2016 Website{{/link-to}}
  <a href="http://wearecirro.com" class="small-text padding--50">Site Credit</a>
  <a href="https://ti.to/dinosaurjs/2017" class="small-text padding--50">Tickets</a>
  <a href="https://twitter.com/dinosaur_js" target="_blank" class="small-text padding--50">@dinosaur_js</a>
  <a href="https://www.youtube.com/channel/UCnnc3W-tYChlrG6ZAYihZdA" target="_blank" class="small-text padding--50">2016 Talks</a>
  <a href="mailto:roar@dinosaurjs.org" class="small-text padding--50">Contact</a>

  {{yield}}
</div>
