body {
  overflow: auto;
  &.is-clipped {
    overflow: hidden;
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

@keyframes flashing {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}
.flashing {
  animation: flashing 1s step-end infinite;
}

body.seventeen-speakers, body.seventeen-speakers .bottom-menu, body.seventeen-speakers .top-menu {
  background-color: $color_redorange;

}

.mover .grid-box-50 > div {
  position: relative;
  height: 100%;
  width: 100%;
}

.seventeen {
  background: $color_dark_blue;
  color: $color_white;
  font-size: 16px;
  line-height: 1.8;
  // font-family: 'Lab Mono', monospace;
  font-family: 'GT Walsheim Regular', sans-serif;
  font-weight: normal;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAeCAYAAADdGWXmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPFJREFUeNrkloENhCAMRcEJGKGjMAIjOIIj3CaM4G1wI7jCbeAIXElKjiiIB+ViYpMGg8Dv+2qjEFcI55zCnDDhH2Kj+8bSVRgPnknEYhoaV3ZhstAHkABE9wwVwkNMFs50/fBUmYLGZmHc8PIHbSkLTqSEVUkIaIOK5myK7qSwH01u8RQsTBQAFc/eC+vcgiVYuJk/TXe2kp2FrXRHYjsLu9HlLGSnO7KQna5kIStdyUI2utADKyyHWgvtj3vq6MhCU/lCQTcLm+iof+nGz6X/r0OXnnl7urXU6gYOMSnlG4cn5nQZuoFLLKLT4nbxEWAA4a/rQvlXHjsAAAAASUVORK5CYII=), auto;

  .home__full-wrap {
    height: 75vh;
    overflow: hidden;
  }

  .speaker-name {
    margin-bottom: 10px;
  }

  .home__50 {
    height: 50vh;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
  }

  a,
  a:hover {
    color: white;
  }

  a:hover, button, a, input, .nav-overlay, .schedule-link {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAeCAYAAADdGWXmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEZJREFUeNpiYBjs4P///w70tOw/OfqY6Bkio5aNWjZq2ahl5AMWaKFKcsEK1NdAopYHdPXZaKk/atmoZaOWjVo2kgBAgAEAfKUTQkAdP+0AAAAASUVORK5CYII=), auto !important;
  }

  .seventeen h3 {
    font-family: 'GT Walsheim Medium', sans-serif;
    font-weight: normal;
    margin-bottom: 0;
    font-size: 1.4em;
  }

  .seventeen h4 {
    font-family: 'GT Walsheim Medium', sans-serif;
    font-weight: normal;
    margin-bottom: 0;
  }

  .home__half-wrap {
    height: 50vh;
  }

  form {
    width: 50%;
  }

  .home__intro, .home__img, .home__svg {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    svg {
      width: 15vw;
      height: 13vw;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    svg:nth-child(1) {
      transform: translate3d(-70%, -70%, 400px);
    }
    svg:nth-child(2) {
      transform: translate3d(-30%, -30%, 200px);
    }
  }

  .home__intro p {
    max-width: 600px;
    margin: 0 auto;
  }

  .home__svg {
    text-align: center;
    position: relative;
    background-color: $color_nav;
    perspective: 1500px;
    pointer-events: none;
  }

  .home__h4 {
    margin: 0;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
  }


  a.home__h4 {
    margin: 0;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;

    &:hover h4 {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fff;
    }

    h4 {
      position: relative;

      // &:after {
      //   content: "";
      //   position: absolute;
      //   right: 0;
      //   bottom: -6px;
      //   height: 1px;
      //   width: 0%;
      //   background-color: #cccccc;
      //   transition: all 0.4s ease;
      // }

      // &:hover:after {
      //   right: auto;
      //   left: 0;
      //   width: 100%;
      // }
    }
  }

  .home__input, .home__button {
    height: 12.5vh;
    width: 100%;
  }

  .home__button {
    border-radius: 0;
    text-decoration: none;
    color: $color_white;
    border-bottom: 1px solid white;
    font-size: 1em;
    &:hover {
      border-bottom: 1px solid white;
      border-left: 1px solid white;
      background-color: $color_dark_blue;
    }
  }

  .sponsors {
    height: 75vh;
    width: 50%;
    flex-wrap: wrap;
    display: flex;
  }

  .sponsors__square {
    height: 37.5vh;
    width: 100%;
    border-left: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    & > div {
      height: 18.75vh;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: 1px solid white;
      }

      &:nth-child(2),
      &:nth-child(4) {
        border-left: 1px solid white;
      }
    }

  }

  .sponsor__logo img {
    max-width: 190px;
    max-height: 90px;
  }

}

.white-border-right {
  border-right: 1px solid $color_white;
}

.white-border-left {
  border-left: 1px solid $color_white;
}

.white-border-bottom {
  border-bottom: 1px solid $color_white;
}

.white-border-top {
  border-top: 1px solid $color_white;
}

seventeen {
  font-family: 'GT Walsheim Regular', sans-serif;
  font-weight: normal;
  font-size: 1.7vw;
  line-height: 1.9;
  // cursor: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20d%3D%22M18%209a9%209%200%200%201-9%209%209%209%200%200%201-9-9%209%209%200%200%201%209-9%209%209%200%200%201%209%209z%22%20style%3D%22isolation%3Aauto%3Bmix-blend-mode%3Anormal%3Bmarker%3Anone%22%20color%3D%22%23000%22%20overflow%3D%22visible%22%20fill%3D%22%23111%22%20stroke-width%3D%224%22%2F%3E%3C%2Fsvg%3E") 9 9,auto;
}

.seventeen p {
  line-height: inherit;
  margin-bottom: 40px;
  // background: linear-gradient(to right, #D7D5C8, #1a1a1a);
}

// .seventeen a {
//   border-color: inherit;
//   border-bottom: 1px solid #373B5D !important;
//   color: #373B5D;
// }

.seventeen .small-text {
  font-size: 1em;
}

.container {
  position: relative;
  padding: 25vh 0;
  max-width: 90%;
  -moz-transform: perspective(1500px);
  -moz-transform-style: preserve-3d;
  -webkit-perspective: 900px;
  transform-style: preserve-3d;
  perspective: 1500px;
}

.mover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  transform-style: preserve-3d;
  transform: translateZ(0px);
  pointer-events: none;
  z-index: -1;
}

.wrap-17 {
  position: relative;
  left: 50%;
  width: 75%;
  // background: $color_white;
  transform: translateX(-50%);
  // box-shadow: 0 80px 100px rgba(0,0,0,0.16);
}

.image {
  background-image: url('2016-outisde.jpg');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: $color_dark_blue;
  background-blend-mode: luminosity;
  width: 65%;
  height: 0;
  position: relative;
  left: -2%;
  padding-bottom: 40%;
  transform: translateZ(200px);
  margin: 150px auto 150px;
  transition: 300ms ease-out;
}

.sm-circle {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate3D(0, 0, 500px);
  top: 30%;
  left: 20%;
  // border-radius: 50%;
  pointer-events: none;
  // border-radius: 50%;
}


.circle {
  outline: 1px solid transparent;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translateZ(400px);
  // border-radius: 50%;
  bottom: 27%;
  right: 40%;
  border-radius: 50%;
  pointer-events: none;
}

// .supersize-me {
//   font-size: 30px;
// }

.circle svg {
  animation: spin 30s infinite linear;
}

.circle * {
  fill: black !important;
  pointer-events: none;
}

.grid-box-50 {
  bottom: 0;
  top: 0;
  left: 0;
  height: 75vh;
  position: absolute;
  background-color: $color_dark_blue;
  width: 50vw;
  transform-style: preserve-3d;
  transform: translateZ(-300px);
  // background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 76%, transparent 77%, transparent);
  // background-size: 9.3vw 9.7vw;
  // background-position: center;
}

.box {
  // outline: 1px solid transparent;
  // width: 300px;
  // height: 300px;
  // background: #9E3B3A;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 100px);
  // top: 23%;
  // right: 10%;
  // border-radius: 50%;
  opacity: 1;
  pointer-events: none;
}

.box2 {
  // outline: 1px solid transparent;
  // width: 100px;
  // height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 200px);
  // border-radius: 50%;
  // top: 40%;
  // left: 20%;
  // border-radius: 50%;
  // background: #373B5D;
  pointer-events: none;
}

.box3 {
  // outline: 1px solid transparent;
  // width: 500px;
  // height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%,100px);
  // top: 25%;
  // left: -10%;
  // border-radius: 50%;
  // background: #717ABA;
  pointer-events: none;
}


.mouse-pos {
  position: fixed;
  font-family: 'GT Walsheim Regular', sans-serif;
  line-hight: 1.5;
  font-size: 11px;
  left: 10px;
  top: 10px;
  width: 50px;
  padding: 10px 20px;
  background: #fff;
  color: #999;
  box-shadow: 0 10px 70px rgba(0,0,0,0.16);
  transition: 300ms;
}


.logo-weird {
  height: 100vh;
}

.-font-alt {
  font-family: 'GT Walsheim Regular', sans-serif;
  font-weight: normal;
}

.index {
  background: #D7D5C8;
}

.sticks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 255px;
}

.sticks span {
  display: inline-block;
  height: 20px;
  width: 4px;
  margin: 10px;
  background: $color_white;
  animation: spin 10s infinite linear;
}

.sticks span:nth-child(odd) {
  animation-delay: 1s;
}

.sm-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 100px;
  padding: 0;
  opacity: 1;
  animation: spin 10s infinite linear;
  fill: #493a38;
}



.what {
  font-size: 1.4em;
  line-height: 1.6;
  color: black;
  padding: 10vh 10vw 10vh 40vw;

  p:nth-child(2) {
    margin-right: 10vw;
  }
}


.code-of-conduct-circle {
  position: fixed;
  bottom: 0;
  right: 0;
  background: $color_white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 5vh 0 0 0;
  text-align: left;
  overflow: hidden;
  transition: 400ms ease-in-out;
  transform: translate(100px, 100px);

  p {
    background: transparent;
    color: $color_white;
  }

  &.showing {
    height: 160vw;
    width: 160vw;
    color: black;
    overflow: scroll;
    padding: 30vw 50vw 30vw 30vw;
    transform: translate(40vw, 40vw);
    p { color: black; }
  }
}

.info-17 {
  font-size: 1.5em;
  line-height: 2.2;
}

#mc_embed_signup {
  margin-top: 50px;
}

.seventeen input[type=text],
.seventeen .mc-field-group input {
  font-family: 'GT Walsheim Regular', sans-serif;
  // border-bottom: 1px solid #373B5D;
  color: $color_white;
  font-size: 1em;
}

.seventeen input {
  font-family: 'GT Walsheim Regular', sans-serif;
  font-size: 1em;
}

.seventeen .form-elements {
  width: 50%;
  padding-right: 50px;
  display: block;
}

.seventeen .mc-field-group {
  margin-bottom: 20px;
}

.seventeen .email-signup-submit-button input {
  width: 100%;
  height: 100%;
  background: transparent;
  // border: 1px solid #373B5D;
  color: $color_white;
  font-size: 1em;
}

.seventeen .email-signup-submit-button {
  width: 50%;
}

.seventeen input[type="text"], .seventeen input[type="email"] {
  padding-left: 50px;
}

.seventeen {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 0px;
    color: $color_white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    padding-left: 0px;
    color: $color_white;
  }
  :-ms-input-placeholder { /* IE 10+ */
    padding-left: 0px;
    color: $color_white;
  }
  :-moz-placeholder { /* Firefox 18- */
    padding-left: 0px;
    color: $color_white;
  }
}

.seventeen footer {
  margin-top: 150px;
  font-size: 13px;
  // display: flex;

  & > span {
    // display: block;
    // flex: 1;
    margin-right: 25px;
    margin-bottom: 15px;
    // &:nth-child(2) {
    //   margin-left: 50px;
    // }
    //
    // &:nth-child(3) {
    //   margin-left: 100px;
    // }
  }
}

.spacer {
  height: 40vh;
}

.grid-box-50,
.grid-box-50 *,
.seventeen .home__svg{
  pointer-events: none;
}


@media ( max-width: $break_tablet_medium ) {
  .seventeen {
    .home__full-wrap, .home__half-wrap {
      height: auto;
      display:block;
    }

    .home__button {
      border-left: 0 !important;
      border-bottom: 0;
      border-top: 1px solid white;
    }

    form {
      border-bottom: 1px solid white;
    }

    .sponsor__logo img {
      max-width: 90px;
      max-height: 50px;
    }

    .sponsor__logo a {
      display: block;
    }

    .sponsors__square {
      border-left: 0;
    }

    .home__intro, .home__img, .home__h4, .home__svg, .grid-box-50, .home__input, .home__button, form {
      width: 100%;
    }

    .kit {
      width: 100%;
      border-bottom: 0;
    }

    .sponsors {
      width: 100%;
      border-top: 1px solid white;
      transform: translateZ(5000px);
    }

    .home__svg {
       svg {
        width: 26vmax;
        height: 22vmax;
      }
    }
  }

  a:hover, button, a, input, .nav-overlay, .schedule-link,
  .seventeen a:hover, .seventeen button, .seventeen a, .seventeen input, .seventeen .nav-overlay, .seventeen .schedule-link {
    cursor: pointer !important;
  }

  a.home__h4 {
    cursor: pointer;
    transform: translateZ(5000px);
    &:hover h4 {
      cursor: pointer !important;
      -webkit-text-fill-color: initial !important;
      -webkit-text-stroke-width: initial !important;
      -webkit-text-stroke-color: 0 !important;
    }
  }

  [data-ember-action] {
    cursor: pointer !important;
  }

  [data-ember-action], a, .link {
    cursor: pointer !important;
  }

}

@media ( max-width: $break_tablet_small ) {
  .seventeen .home__svg {
    background: transparent;
  }

  .seventeen {

    form {
      border-top: 1px solid white;
      transform: translateZ(5000px);
    }

    .seventeen input {
      border-left: 0 !important;
    }

    a.home__h4,
    .home__h4 {
      text-align: center;
      height: 25vmax;
    }

    a.home__h4 {
      cursor: pointer !important;
      position: relative;
      z-index: 2000;
    }

    .padding--100 {
      padding: 50px;
    }
  }

  .seventeen .home__svg {
    border-left: 0;
  }

  .seventeen .home__intro, .seventeen .home__img, .seventeen .home__svg, .grid-box-50 {
    height: 75vmax;
  }
}
