.text--light {
  opacity: 0.4;
}

.seventeen {
  &.seventeen-schedule {
    background: $color_gray_blue;
    .seventeen {
      background: $color_gray_blue;
    }
  }

  .schedule-wrap {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
  }

  .not-toggleable {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAeCAYAAADdGWXmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPFJREFUeNrkloENhCAMRcEJGKGjMAIjOIIj3CaM4G1wI7jCbeAIXElKjiiIB+ViYpMGg8Dv+2qjEFcI55zCnDDhH2Kj+8bSVRgPnknEYhoaV3ZhstAHkABE9wwVwkNMFs50/fBUmYLGZmHc8PIHbSkLTqSEVUkIaIOK5myK7qSwH01u8RQsTBQAFc/eC+vcgiVYuJk/TXe2kp2FrXRHYjsLu9HlLGSnO7KQna5kIStdyUI2utADKyyHWgvtj3vq6MhCU/lCQTcLm+iof+nGz6X/r0OXnnl7urXU6gYOMSnlG4cn5nQZuoFLLKLT4nbxEWAA4a/rQvlXHjsAAAAASUVORK5CYII=), auto !important;
  }

  .toggleable {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAeCAYAAADdGWXmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEZJREFUeNpiYBjs4P///w70tOw/OfqY6Bkio5aNWjZq2ahl5AMWaKFKcsEK1NdAopYHdPXZaKk/atmoZaOWjVo2kgBAgAEAfKUTQkAdP+0AAAAASUVORK5CYII=), auto !important;
  }

  .schedule-item {
    border-right: 1px solid $color_white;
    border-left: 1px solid $color_white;
    border-bottom: 1px solid $color_white;
    // padding: 50px;
    &:last-child {
      border-bottom: none;
    }
  }

  .schedule-accordion-content {
    overflow: hidden;
    transition: 300ms ease-in-out;
    height: auto;
    border-top: 1px solid white;

    &.hidden {
      max-height: 0;
    }

    &.showing {
      max-height: 500px;
    }
  }

  .schedule-title-bar {
    padding: 50px;
  }

  .schedule-description {
    width: 50%;
    padding: 50px;
  }

  .schedule-time {
    left: 0;
  }

  .schedule-padding-wrap {
    position: relative;
  }

  .schedule-title,  {
    font-weight: bold;
    text-align: right;
    p {
      margin-bottom: 0;
    }
  }

  .schedule-time, .schedule-title {
    display: inline-block;
  }

  .schedule-section-title {
    text-align: center;
    padding: 60px;
    border-bottom: 1px solid white;

    &.workshops {
      border-top: 1px solid white;
    }
  }

  .schedule-icon {
    display: inline-block;
    margin-right: 30px;
    height: 20px;
    width: 15px;
    vertical-align: sub;

    &.talk {
      width: 21px;
    }

    &.workshop {
      width: 10px;
    }

    svg {
      width: 100%;
      height: auto;
    }

  }

  @media only screen and ( max-width: $break_tablet_medium ) {
    .schedule-time, .schedule-title, .schedule-accordion-content {
      position: relative;
      display: inherit;
      text-align: center;
      width: 100%;
    }
  }
}

.schedule {

  .schedule__row {
    display: flex;
    padding: 2rem 0;
  }

  .schedule__row-time {
    color: $color_white;
    opacity: 0.4;
    justify-content: flex-start;
    width: 40%;
    align-items: center;
    padding-top: 6px;
  }

  .schedule__row-info {
    width: 60%;
  }

  .accordion-content {
    display: none;
    &.showing {
      display: block;
    }
  }

  .accordion {
    transition: 400ms ease-in-out;
    -webkit-font-smoothing: antialiased;
    &.showing {
      padding-bottom: 20px;
      max-height: 1000px;
      transform: rotateX(0);
      opacity: 1;
      line-height: 3vw;
    }
    &.hidden {
      max-height: 0;
      opacity: 0;
      line-height: 4vw;
    }
  }

  @media (max-width: 900px) {

    .schedule-info.showing {
      line-height: 23px;
    }
    .schedule-info.closed {
      line-height: 26px;
    }

    .schedule__row {
      flex-direction: column;
    }

    .schedule__row-time {
      margin-bottom: 20px;
    }

    .schedule__row-info,
    .schedule__row-time {
      width: 100%;
    }
  }


  hr {
    background-color: $color_grey;
  }
}
