.text--light {
  opacity: 0.4;
}

.schedule {

  .schedule__row {
    display: flex;
    padding: 2rem 0;
  }

  .schedule__row-time {
    color: white;
    opacity: 0.4;
    justify-content: flex-start;
    width: 40%;
    align-items: center;
    padding-top: 6px;
  }

  .schedule__row-info {
    width: 60%;
  }

  .accordion-content {
    display: none;
    &.showing {
      display: block;
    }
  }

  .accordion {
    transition: 400ms ease-in-out;
    -webkit-font-smoothing: antialiased;
    &.showing {
      padding-bottom: 20px;
      max-height: 1000px;
      transform: rotateX(0);
      opacity: 1;
      line-height: 3vw;
    }
    &.hidden {
      max-height: 0;
      opacity: 0;
      line-height: 4vw;
    }
  }

  @media (max-width: 900px) {

    .schedule-info.showing {
      line-height: 23px;
    }
    .schedule-info.closed {
      line-height: 26px;
    }

    .schedule__row {
      flex-direction: column;
    }

    .schedule__row-time {
      margin-bottom: 20px;
    }

    .schedule__row-info,
    .schedule__row-time {
      width: 100%;
    }
  }


  hr {
    background-color: $color_grey;
  }
}
