.seventeen {
  .speakers {
    background-color: $color_redorange;
  }

  .speaker__card {
    text-align: center;
    a {
      color: $color_white;
      opacity: .4;
      &:hover {
        opacity: 1;
      }
    }
    img {
      max-width: 60%;
      max-height: 60%;
    }
  }

  .speaker__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 50%;
    width: 50%;
    height: 0;
    display: inline-block;
  }
}

.half {
  width: 50%;
}

@media ( max-width: $break_tablet_medium ) {
  .speakers__wrap {
    flex-wrap: nowrap;
    display:block;
  }
  .speaker__card {
    width: 100%;
  }
}

@media ( max-width: $break_tablet_small ) {
  .seventeen {
    .half {
      width: 100%;
    }

    .speaker__bio {
      padding-top: 0;
    }

    .speaker__image {
      width: 90%;
      padding-bottom: 85%;
    }
  }
}




// OLD DINO
.page-intro {
  margin-bottom: 5%;
}

.speaker-section {
  margin: 0 auto;
  a {
    color: $color_white;
  }
}

// Alternate styling for nth sections
.speakers {
  h1 {
    text-align: center;
  }
  hr {
    background-color: $color_white;
  }
  section:nth-child(even) {
    background-color: $color_white;
    color: $color_black;
    hr {
      background-color: $color_black;
    }
    a {
      color: $color_black;
    }
    div.presentation-link {
      color: $color_black;
    }
    // .presentation-info {
    //   background: $color_black;
    //   color: $color_white;
    // }
  }
}

.speaker-wrapper {
  margin-bottom: 5%;
  margin-top: 5%;
}


.speaker-img-wrapper {
  // background-color: $color_white;
  img {
    // -webkit-filter: grayscale(1);
    // filter: grayscale(100%);
    // mix-blend-mode: multiply;
    width: 100%;
    max-width: 400px;
    // border-radius: 50%;
    border-radius: 50%  50%  50%  50%  / 60%   60%   40%  40%;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.twitter-handle {
  display: block;
  margin: 0 0 10px 0;
  font-size: 26px;
  display: inline-block;
  transform-origin: left;
  &:hover {
    transform: scale(1.2);
  }
}

@media (max-width: 768px) {
  .twitter-handle {
    margin: 2% 0;
  }
}

.git-name {
  display: block;
  font-size: 26px;
  margin: 0 0 40px 0;
  display: inline-block;
  &:hover {
    transform: scale(1.2);
    transform-origin: left;
  }
}

.speaker-description {
  padding-left: 10%;
}

@media (max-width: 768px) {
  .speaker-description {
    padding-left: 0;
    margin-top: 5%
  }
  .speaker-img {
    margin-bottom: 5%;
  }
}

div.presentation-link {
  border: none;
  padding: 0 0 0 30px;
  border-radius: 0;
  transition: 400ms ease;
  height: 3vw;
  position: relative;
  width: 100%;
  text-align: left;
  line-height: 1.2;
  font-size: 26px;
  color: $color_white;
  &:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    height: 18px;
    width: 18px;
    background: #fcfcfc;
    line-height: 2;
    font-size: 1.5rem;
    border-radius: 50%;
    border: 3px solid;
    transition: 400ms;
  }
  &:hover {
    background: transparent;
    letter-spacing: .05vw;
  }
}

div.presentation-link.closed {
  &:hover {
    background: transparent;
    &:before {
      background: $color_black;
    }
  }
}


div.presentation-link.open {
  &:before {
    background: $color_black;
  }
  &:hover {
    &:before {
      background: $color_white;
    }
  }
}

.presentation-info {
  @extend .-text-alt;
  transition: 400ms ease-in-out;
  // background: $color_white;
  padding: 10px 0 0;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  // border-radius: 10px;
  margin-top: 1vw;
  overflow: hidden;
  p:last-child {
    margin-bottom: 0;
  }
  &.showing {
    max-height: 1300px;
    opacity: 1;
    line-height: 3vw;
  }
  &.hidden {
    max-height: 0;
    opacity: 0;
  }
}

@media only screen and ( max-width: $break_tablet_small ) {
  .-full {
    height: 80vh;
  }

  .speaker-description,
  div.presentation-link {
    text-align: center;
    margin: 0;
    padding: 0;
    height: auto;

    &:before {
      display: none;
      }

    &:hover {
      letter-spacing: 0;
      }
    }


  .speaker-img-wrapper img {
    max-width: 300px;
  }

  .presentation-info.showing {
    line-height: 23px;
  }
  .presentation-info.closed {
    line-height: 26px;
  }
}
