.page-intro {
  margin-bottom: 5%;
}

.logo {
  opacity: 0.4;
  transition: 300ms;

  &:hover {
    opacity: 1;
  }

  img {
    max-height: 130px;
  }
}

.logo:nth-child(3n+1) {
  padding: 10vh 14vw 10vh 0;
}

.logo:nth-child(3n+2) {
  padding: 10vh 7vw 10vh 7vw;
}


.logo:nth-child(3n+3) {
  padding: 10vh 0 10vh 14vw;
}






// .sponsor-logo-wrapper {
//   background-color: $color_white;
//   img {
//     -webkit-filter: grayscale(1);
//     filter: grayscale(100%);
//     mix-blend-mode: multiply;
//     width: 100%;
//   }
// }

.sponsor-description {
  padding-left: 5%;
}

@media (max-width: 768px) {
  .sponsor-description {
    padding-left: 0;
    margin-top: 5%
  }
  .sponsor-logo {
    margin-bottom: 5%;
  }

  .sponsors-section .third {
    flex-direction: row !important;
  }

  .logo {
    padding: 40px 0 !important;
    width: 50% !important;
  }

  .logo img {
    width: 70%;
    max-height: 70px;
  }
}
