.attend,
.seventeen-attend .seventeen {
  background: #a9bcc6;
  color: white;
}

.location-map {
  height: 50vh;
}

.g-map{
  height: 100%;
  filter: grayscale(100%);
  mix-blend-mode: hard-light;
}
.g-map-canvas {
  width: 100%;
  height: 100%;
}


.lodging {
  height: 50vh;
}


.lodging-info {
  width: 50%;
  width: 50vw;
}


.seventeen .attend .sponsors {
  width: 100%;
  height: 67vh;
  flex-wrap: nowrap;
  border-bottom: 0;
}

.seventeen .attend .sponsors__square:nth-child(1) {
  height: 67vh;
}

@media ( max-width: $break_tablet_medium ) {
  .column--2of4 {
    width: 100%;
  }

  .lodging {
    height: auto;
  }

  .lodging-info {
    width: 100%;
    width: 100vw;
    height: 50vmax;
    &:first-child {
      border-bottom: 1px solid;
    }
  }

  .seventeen .attend .sponsors {
    flex-wrap: wrap;
    height: auto;
    border-top: 0;
  }

  .seventeen .attend .sponsors__square {
    border-bottom: 1px solid;
  }

  .seventeen h4 {
    font-size: 8.5vw;
  }
}
