<section class="--section-white">
  <div class="split">
    <aside>
      <h2>Location</h2>
      <p>The Oriental Theater</p>
      <p>
        <a href="https://www.google.com/maps/place/The+Oriental+Theater/@39.7768649,-105.0435232,15z/data=!4m2!3m1!1s0x0:0xd1d524a342ba21c0?sa=X&ved=0ahUKEwii0oO4jozMAhWHnIMKHUxAA8IQ_BIIdjAN" target="_blank">
          4335 W 44th Ave.<br>
          Denver, CO 80212
        </a>
      </p>
      </aside>
      <aside>
        <h2>Hotels</h2>
        <p class="-text--grey">More info coming soon...</p>
      </aside>
  </div>
</section>
