<section class="--section-white">
  <div class="split">
    <aside>
      <h2>Location</h2>
      <p>The Oriental Theater</p>
      <p>4335 W 44th Ave.<br>
        Denver, CO 80212</p>
      </aside>
      <aside>
        <h2>Hotels</h2>
        <p class="-text--grey">More info coming soon...</p>
      </aside>
  </div>
</section>
