<div class="team-section">

  <div class="-full">
    <div class="valigner">
      <div class="valigner--cell -text--center">
        <h1>Team</h1>
      </div>
    </div>
  </div>
  <div class="box team__wrap">
    <div class="section team__member steve">
      <img src="sKinney1.jpeg" />
      <h4>Steve Kinney</h4>
      <a href="https://twitter.com/stevekinney" target="_blank">@stevekinney</a>
    </div>

    <div class="section team__member jess">
      <img src="jess.jpg" />
      <h4>Jessica Goulding</h4>
      <a href="https://twitter.com/jessicag" target="_blank">@jessicag</a>
    </div>

    <div class="section team__member frankie">
      <img src="frankie.jpg" />
      <h4>Frankie Bushell</h4>
      <a href="https://twitter.com/frankiebushell" target="_blank">@frankiebushell</a>
    </div>

    <div class="section team__member tan">
      <img src="tan.jpeg" />
      <h4>Tan Doan</h4>
      <a href="https://twitter.com/tan_themaaan" target="_blank">@tan_themaaan</a>
    </div>
  </div>

  <section class="section section-black volunteer-section -text--center">
    <h2>Want to Volunteer?</h2>
    <p><a href="mailto:roar@dinosaurjs.org?subject=ðŸ²" target="_blank">roar@dinosaurjs.org</a></p>
  </section>

  {{outlet}}
</div>
