{{#perspective-tilt}}
<div class="team">
  <div class="padding--50 center-text white-border-bottom">
    Team
  </div>
  <div class="home__full-wrap flex--wrap flex-grid flex--column">
    <div class="home__intro column--2of4 small-text white-border-bottom">
      <p class="-text--center">
        <p>Steve Kinney</p>
      </p>
    </div>

    <div class="team__svg white-border-bottom  white-border-left column--2of4">
      <div class="mover">
        <div class="team-box-50">
          <div class="team-profile-pic" style="background-image:url(assets/stevekinney.jpg)"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="home__full-wrap flex--wrap flex-grid flex--column">
    <div class="team__svg white-border-bottom  white-border-right column--2of4">
      <div class="mover">
        <div class="team-box-50">
          <div class="team-profile-pic" style="background-image:url(assets/jessicag.jpg)"></div>
        </div>
      </div>
    </div>

    <div class="home__intro column--2of4 small-text white-border-bottom">
      <p class="-text--center">
        <p>Jessica Goulding</p>
      </p>
    </div>
  </div>

  <div class="home__full-wrap flex--wrap flex-grid flex--column">
    <div class="home__intro column--2of4 small-text white-border-bottom">
      <p class="-text--center">
        <p>Frankie Bushell</p>
      </p>
    </div>

    <div class="team__svg white-border-bottom  white-border-left column--2of4">
      <div class="mover">
        <div class="team-box-50">
          <div class="team-profile-pic" style="background-image:url(assets/frankie.png)"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="home__full-wrap flex--wrap flex-grid flex--column">
    <div class="team__svg white-border-right column--2of4">
      <div class="mover">
        <div class="team-box-50">
          <div class="team-profile-pic" style="background-image:url(assets/mikenew.jpg)"></div>
        </div>
      </div>
    </div>

    <div class="home__intro column--2of4 small-text white-border-bottom">
      <p class="-text--center">
        <p>Mike Pack</p>
      </p>
    </div>
  </div>



  {{outlet}}
</div>
{{/perspective-tilt}}
{{outlet}}
