<div class="row full-overflow">
  <div class="canvas-wrap">
    {{pixi-image-distort imgUrl="assets/code.jpg"}}
  </div>

  <div class="name-wrap">
    <figure>
      <strong>Dinosaur JS</strong>
    </figure>
    <figure>
      <strong>Conference 2016</strong>
    </figure>
  </div>
  {{outlet}}
</div>
 
