<div class='navigation'>
  {{nav-bar}}
</div>

{{!-- button to slide out nav --}}
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>

<div class="site-wrap">
  <h1>DinosaurJS</h1>
  {{liquid-outlet}}
</div>
