<nav>
  {{nav-bar}}
</nav>

{{!-- button to slide out nav --}}
<button {{action 'toggleNav'}} class="menu-btn">Menu</button>
<div {{action 'toggleNav'}} class="nav-overlay"></div>

<div class="wrap">
  {{liquid-outlet}}
</div>
