<section>
  Speak at Dinosaur.js

  <s>The Call for Proposals is currently open. It closes on March 14, 2016. Submit early and often!</s>

  Check back soon for posted speakers!
</section>
{{outlet}}
