<div class="attend">
  <div class="padding--100 center-text white-border-bottom page-title">
    Attend
  </div>
  <div class="attend__wrap">
    <div class="flex-grid flex--wrap">
      <div class="column--2of4 small-text white-border-bottom flex-content--middle -text--center padding-small">
        <a class="padding-top--100 padding-bottom--100" href="https://www.google.com/maps/place/The+Studio+Loft+at+Ellie+Caulkins+Opera+House/@39.7447252,-104.9967231,15z/data=!4m5!3m4!1s0x0:0xf275633bd65cf848!8m2!3d39.7447252!4d-104.9967231" target="_blank">
          <h6>Conference Venue — June 21</h6><br/>
          The Studio Loft at Ellie Caulkins Opera House<br>
          1400 Curtis Street<br/>
          Denver, CO 80202
        </a>
      </div>

      <div class="column--2of4 small-text white-border-bottom white-border-left flex-content--middle -text--center padding-small">
        <a class="padding-top--100 padding-bottom--100" href="https://www.google.com/maps/place/Turing+School+of+Software+%26+Design/@39.7508006,-104.9965947,15z/data=!4m2!3m1!1s0x0:0x3ff4c7d558d0edd1?sa=X&ved=0ahUKEwj3_pnh3pnbAhXrmq0KHZyoCh4Q_BIItAEwDQ" target="_blank">
          <h6>Workshop Venue — June 22</h6><br/>
          Turing School of Software & Design<br/>
          1331 Market Street<br/>
          Denver, CO 80202
        </a>
      </div>

    </div>
  </div>

    <div class="padding--50 center-text white-border-bottom">
      Tickets
    </div>
    <!-- <a href="#" class="buy-tix home__h4 white-border-bottom column--2of4"><h4>Sold Out</h4></a> -->
    <a href="https://ti.to/dinosaurjs/2018" target="_blank" class="buy-tix home__h4 white-border-bottom column--2of4"><h4>Buy Tickets</h4></a>
    <!-- <a href="https://ti.to/dinosaurjs/2017#tito-ticket-7e-h55xaudc" class="buy-tix home__h4 white-border-bottom column--2of4"><h4>Diversity Scholarships</h4></a> -->


    <!-- <div class="padding--50 center-text white-border-bottom">
      Where to Stay
    </div>

    <div class="lodging flex-grid flex-wrap white-border-bottom">
      <div class="small-text -text--center flex-grid">
            <div class="lodging-info padding-small flex-content--middle">
              <div>
                <h6>Airbnb</h6>
                <a href="https://www.airbnb.com/s/denver-co/homes?checkin=2017-06-14&checkout=2017-06-18&ne_lat=39.73362627160784&ne_lng=-104.9801570841903&search_by_map=true&sw_lat=39.70728520768961&sw_lng=-105.00290221663658&zoom=15&allow_override%5B%5D=&s_tag=TELHJbD3" target="_blank">Search the Area  ↗</a>
              </div>
            </div>
            <div class="lodging-info padding-small white-border-left flex-content--middle">
              <div>
                <h6>Marriott TownePlace Suites Denver Downtown</h6>
                <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Dinosaur%20JS%5EDENCB%60D0CD0CA%60170.00%60USD%60false%604%606/14/17%606/18/17%605/24/17&app=resvlink&stop_mobi=yes" target="_blank">Discounted Rates  ↗</a>
              </div>
            </div>
      </div>
    </div>

    <div class="padding--50 center-text white-border-bottom">
      June 14th Pre-Event
    </div>
    <div class="lodging flex-grid flex-wrap white-border-bottom">
      <div class="small-text -text--center flex-grid">
          <div class="lodging-info padding-small flex-content--middle">
            <div class="home__intro">
              <p>Dinosaur JS is proud to partner with Full Stack Meetup to present the Mozilla Developer Roadshow featuring a talk from renown web advocate Matthew Claypotch. He will present the latest and greatest in front-end design with CSS.
              <br><br>
              Wednesday, June 14 — 5:30 PM to 9:00 PM
            </p>
            </div>
          </div>
          <div class="lodging-info padding-small white-border-left flex-content--middle">
            <div>
              <h6>The Mozilla Developer Roadshow</h6>
              <a href="https://www.meetup.com/fullstack/events/240003595/" target="_blank">RSVP  ↗</a>
            </div>
          </div>
      </div>
    </div> -->



    <div class="sponsors">
      <div class="white-border-left sponsors__square">Sponsors</div>

      <div class="sponsors__square flex--wrap flex-grid">
        <div class="sponsor__logo">
          <a href="https://developer.microsoft.com/en-us/" target="_blank"><img src="Microsoft_logo.svg"/></a>
        </div>
        <div class="sponsor__logo">
          <a href="https://www.ca.com/us.html" style="display:block;width:100%;" target="_blank"><img src="/assets/ca-dino.png"/ style="max-width:160px;height: auto;max-height: 100%;"></a>
        </div>
        <div class="sponsor__logo">
          <a href="http://wearecirro.com" target="_blank"><img src="cirro.svg"/></a>
        </div>
        <div class="sponsor__logo">
          <a href="https://google.com" target="_blank"><img src="google.svg"/></a>
        </div>
        <div class="sponsor__logo">
          <a href="https://glitch.com/" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" data-name="Layer 1" viewBox="0 0 171.6 49.4" data-ember-extension="1"><defs><style>.cls-1,.cls-2{fill:none}.cls-1{clip-rule:evenodd}.cls-3{fill:#f1a5ff}.cls-4{clip-path:url(#clip-path)}.cls-5{isolation:isolate}.cls-6{fill:url(#New_Gradient_Swatch_1)}.cls-7{fill:url(#New_Gradient_Swatch_2)}.cls-21,.cls-8{fill-rule:evenodd}.cls-8{fill:url(#linear-gradient)}.cls-9{clip-path:url(#clip-path-2)}.cls-10{clip-path:url(#clip-path-3)}.cls-11{fill:#974dff}.cls-12{clip-path:url(#clip-path-4)}.cls-13{clip-path:url(#clip-path-5)}.cls-14{clip-path:url(#clip-path-6)}.cls-15{clip-path:url(#clip-path-8)}.cls-16{fill:url(#New_Gradient_Swatch_2-2)}.cls-17{clip-path:url(#clip-path-9)}.cls-18{fill:#373fff}.cls-19{clip-path:url(#clip-path-11)}.cls-20{clip-path:url(#clip-path-13)}.cls-21,.cls-22{fill:#fff}</style><clipPath id="clip-path"><path class="cls-1" d="M28.8 46.1a5.9 5.9 0 0 1 .5 2.8 7.8 7.8 0 0 1-1.9.2A12.8 12.8 0 0 1 22 49c-3.5-.7-5.2-4.5-5.2-4.5h-.2a22.6 22.6 0 0 1-5.2.4c-1.7 0-8.6-2.6-10.8-5.4 0 0 3.4-.8 3.4-1.6s-3.9-2-3.9-2-.6-3.3 3.6-6.6a25.8 25.8 0 0 1 7.3-4.4c-2.2-.3-8.4-2.8-10.5-5.4 0 0 3.4-.8 3.4-1.6s-3.9-2-3.9-2-.6-3.3 3.6-6.6 7.4-4.8 10.9-5l4.7-.2S22.4 0 24 0s12.7 2.5 13.7 4.2a4.3 4.3 0 0 0 2.1 1.9c.5.4.2.1 2.6.6 6 1.3 5.1 1.9 9.6 2.7 1.8.3 10-3.7 10.8-3.3s.6 3.7-.8 5.9 1.1 4.2 0 7 1.3 5 .8 5.9-9.4-3.2-10.9-2.9-5.2 2.1-12.8 3.5l.7.4c.5.4.2.1 2.6.6 6 1.3 5.1 1.9 9.6 2.7 1.8.3 10-3.7 10.8-3.3s.6 3.7-.8 5.9 1.1 4.2 0 7 1.3 5 .8 5.9-9.2-3.2-10.8-2.9-6.2 2.5-15.6 4a38.3 38.3 0 0 1-7.6.3z"/></clipPath><linearGradient id="New_Gradient_Swatch_1" x1="30.63" x2="30.63" y2="17.99" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#e559ff"/><stop offset="1" stop-color="#924dff"/></linearGradient><linearGradient id="New_Gradient_Swatch_2" x1="15.25" y1="8.9" x2="41.56" y2="26.47" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f1a5ff"/><stop offset="1" stop-color="#ff686c"/></linearGradient><linearGradient id="linear-gradient" x1="31.69" y1="22.88" x2="31.69" y2="38.25" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#6f3cff"/><stop offset="1" stop-color="#3633ff"/></linearGradient><clipPath id="clip-path-2"><path class="cls-2" d="M24.4 9.2l3.2.2h3.3a74.7 74.7 0 0 1 8.1 1.4A55.3 55.3 0 0 1 51.4 15l1.8.8a.7.7 0 0 0 .9-.4.8.8 0 0 0-.4-1l-1.8-.8a56.4 56.4 0 0 0-12.6-4.3A75.8 75.8 0 0 0 31 8.1h-3.3l-3.2-.2h-1.4a.7.7 0 0 0-.6 1.1h.1l.2.4.5 1.3a14.9 14.9 0 0 1 .6 2.1v.7a11.5 11.5 0 0 1-.4 3.1L23 18l-.6 1.9-.2.6v.2a.8.8 0 0 0 .4 1 .7.7 0 0 0 .9-.4V21l.2-.6.6-2 .4-1.6a12.6 12.6 0 0 0 .4-3.7v-.8a16.5 16.5 0 0 0-.6-2.3l-.3-.8z"/></clipPath><clipPath id="clip-path-3"><path class="cls-2" d="M0 0h63v49.43H0z"/></clipPath><clipPath id="clip-path-4"><path class="cls-2" d="M24.4 17.9l.2-1a12.9 12.9 0 0 0 .4-3.7v-.8a16.9 16.9 0 0 0-.6-2.3l-.3-.8h.3l3.2.2h3.3a73.8 73.8 0 0 1 8.1 1.3 54.8 54.8 0 0 1 12.4 4.3l1.8.8a.6.6 0 0 0 .9-.4.8.8 0 0 0-.4-1l-1.8-.8a55.9 55.9 0 0 0-12.6-4.4A74.9 74.9 0 0 0 31 8.1h-3.3l-3.2-.2h-1.4a.8.8 0 0 0-.6 1.1h.1l.2.4.5 1.3a15.3 15.3 0 0 1 .6 2.1v.7a11.8 11.8 0 0 1-.4 3.2l-.5 1.2z"/></clipPath><clipPath id="clip-path-5"><path class="cls-2" d="M0-.1h63v50.07H0z"/></clipPath><clipPath id="clip-path-6"><path class="cls-2" d="M18.9 9.5h.1l.2.3.6 1.2a10.7 10.7 0 0 1 .7 2 5.1 5.1 0 0 1 .1 1 8.9 8.9 0 0 1-.6 3l-.4.9v.3a.7.7 0 0 0 .2.9.6.6 0 0 0 .8-.3l.2-.4.4-1.1a10.2 10.2 0 0 0 .6-3.3 6.6 6.6 0 0 0-.1-1.3 12 12 0 0 0-.8-2.3l-.6-1.3-.3-.4a.6.6 0 0 0-.9-.2.7.7 0 0 0-.2 1z"/></clipPath><clipPath id="clip-path-8"><path class="cls-3" d="M21 17.9v-.4a10.5 10.5 0 0 0 .6-3.3 6.7 6.7 0 0 0-.1-1.3 12.3 12.3 0 0 0-.8-2.3l-.6-1.3-.1-.6a.6.6 0 0 0-.9-.2.7.7 0 0 0-.2.9h.1l.2.3.6 1.2a10.9 10.9 0 0 1 .7 2.1 5.3 5.3 0 0 1 .1 1 9.1 9.1 0 0 1-.6 3l-.3.9z"/></clipPath><linearGradient id="New_Gradient_Swatch_2-2" x1="25.86" y1="35.95" x2="36.69" y2="48.92" xlink:href="#New_Gradient_Swatch_2"/><clipPath id="clip-path-9"><path class="cls-2" d="M24.4 29.3l3.2.2h3.3a74.7 74.7 0 0 1 8.1 1.3A55.3 55.3 0 0 1 51.4 35l1.8.8a.7.7 0 0 0 .9-.4.8.8 0 0 0-.4-1l-1.8-.8a56.4 56.4 0 0 0-12.6-4.3 75.8 75.8 0 0 0-8.3-1.2h-3.3l-3.2-.2h-1.4a.7.7 0 0 0-.6 1.1h.1l.2.4.5 1.3a14.9 14.9 0 0 1 .6 2.1v.7a11.5 11.5 0 0 1-.4 3.1L23 38l-.6 2-.2.6v.2a.8.8 0 0 0 .4 1 .7.7 0 0 0 .9-.4v-.2l.2-.6.6-2 .4-1.6a12.6 12.6 0 0 0 .4-3.7v-.8a16.5 16.5 0 0 0-.6-2.3l-.3-.8z"/></clipPath><clipPath id="clip-path-11"><path class="cls-2" d="M24.4 37.8l.2-1a12.6 12.6 0 0 0 .4-3.7v-.8a16.5 16.5 0 0 0-.6-2.3l-.3-.8h.3l3.2.2h3.3a74.7 74.7 0 0 1 8.1 1.4A55.3 55.3 0 0 1 51.4 35l1.8.8a.7.7 0 0 0 .9-.4.8.8 0 0 0-.4-1l-1.8-.8a56.4 56.4 0 0 0-12.6-4.3 75.8 75.8 0 0 0-8.3-1.2h-3.3l-3.2-.2h-1.4a.7.7 0 0 0-.6 1.1h.1l.2.4.5 1.3a14.9 14.9 0 0 1 .6 2.1v.7a11.5 11.5 0 0 1-.4 3.1l-.5 1.2z"/></clipPath><clipPath id="clip-path-13"><path class="cls-3" d="M21 37.8v-.4a10.2 10.2 0 0 0 .6-3.3 6.6 6.6 0 0 0-.1-1.3 12 12 0 0 0-.8-2.3l-.6-1.3-.3-.5a.6.6 0 0 0-.9-.2.7.7 0 0 0-.2.9h.3l.2.3.6 1.2a10.7 10.7 0 0 1 .7 2 5.1 5.1 0 0 1 .1 1A8.9 8.9 0 0 1 20 37l-.3.9z"/></clipPath></defs><g class="cls-4"><g class="cls-5"><path class="cls-6" d="M-1.7 0h64.6v18.1H-1.7z"/><path class="cls-7" d="M55.6 26.6l7.4-1.1.1-2.3v-5.3l-.5-1.8H38.5v1.8H0v5.3l5.2 1.7 19.7 1.7h4.3"/><path class="cls-8" d="M24.9 23.2h22.4v2.4l16.1-.1V36H30v1.8H0V25.5l9.4-.6 15.5.1v-1.8z"/><g class="cls-9"><g class="cls-10"><path class="cls-11" d="M21.3 7h33.5v15.6H21.3z"/></g></g><g class="cls-12"><g class="cls-13"><path class="cls-3" d="M21.7 6.8h33.2v11.89H21.7z"/></g></g><g class="cls-14"><g class="cls-10"><path class="cls-11" d="M18.1 7.7h4.5v12.36h-4.5z"/></g></g><path class="cls-3" d="M21 17.9v-.4a10.5 10.5 0 0 0 .6-3.3 6.7 6.7 0 0 0-.1-1.3 12.3 12.3 0 0 0-.8-2.3l-.6-1.3-.1-.6a.6.6 0 0 0-.9-.2.7.7 0 0 0-.2.9h.1l.2.3.6 1.2a10.9 10.9 0 0 1 .7 2.1 5.3 5.3 0 0 1 .1 1 9.1 9.1 0 0 1-.6 3l-.3.9z"/><g class="cls-15"><path class="cls-3" d="M0-.1h63v50.12H0z"/></g><path class="cls-16" d="M63 49.4H0V37.8h29.9V36H63v13.4z"/><g class="cls-17"><g class="cls-10"><path class="cls-18" d="M21.3 26.9h33.5v15.6H21.3z"/></g></g><g class="cls-19"><g class="cls-10"><path class="cls-3" d="M21.7 26.9h33.2v11.74H21.7z"/></g></g><path class="cls-18" d="M18.9 29.5h.1l.2.3.6 1.2a10.7 10.7 0 0 1 .7 2 5.1 5.1 0 0 1 .1 1 8.9 8.9 0 0 1-.6 3l-.4.9v.3a.7.7 0 0 0 .2.9.6.6 0 0 0 .8-.3l.2-.4.4-1.1a10.2 10.2 0 0 0 .6-3.3 6.6 6.6 0 0 0-.1-1.3 12 12 0 0 0-.8-2.3l-.6-1.3-.3-.5a.6.6 0 0 0-.9-.2.7.7 0 0 0-.2 1.1z"/><path class="cls-3" d="M21 37.8v-.4a10.2 10.2 0 0 0 .6-3.3 6.6 6.6 0 0 0-.1-1.3 12 12 0 0 0-.8-2.3l-.6-1.3-.3-.5a.6.6 0 0 0-.9-.2.7.7 0 0 0-.2.9h.3l.2.3.6 1.2a10.7 10.7 0 0 1 .7 2 5.1 5.1 0 0 1 .1 1A8.9 8.9 0 0 1 20 37l-.3.9z"/><g class="cls-20"><path class="cls-3" d="M0 0h63v49.43H0z"/></g></g></g><circle cx="10.8" cy="12.9" r="2.7"/><path class="cls-21" d="M8 12.7a2.9 2.9 0 1 1 2.9 3A2.7 2.7 0 0 1 8 13.2a2.1 2.1 0 0 0 2.3 1.8A2.3 2.3 0 1 0 8 12.7z"/><circle class="cls-22" cx="9.2" cy="13.5" r=".8"/><circle cx="10.8" cy="32.9" r="2.7"/><path class="cls-21" d="M8 32.6a2.9 2.9 0 1 1 2.9 3A2.7 2.7 0 0 1 8 33.1a2.1 2.1 0 0 0 2.3 1.9A2.3 2.3 0 1 0 8 32.6z"/><circle class="cls-22" cx="9.2" cy="33.5" r=".8"/><path fill="#FFF" d="M72.7 23.6c0-7.4 4.1-12.2 10.8-12.2 4.5 0 8.1 1.8 9.6 7.6l-4.8 1.3c-1-3.3-2.5-4.6-4.8-4.6S78 16.8 78 23.5s3.2 8.3 5.7 8.3a4.8 4.8 0 0 0 4.9-4.3h-4.2v-3.9h9.1v11.9h-4.2v-3.3h-.1A6.5 6.5 0 0 1 83 36c-7.1 0-10.3-5.3-10.3-12.4zM97.9 11.8h5.1v23.7h-5.1zM107.2 12h5.2v4.1h-5.2zm0 6.5h5.1v17h-5.1zM117.9 30.7v-8.5H115v-3.7h2.8v-5.9h5.2v5.9h4.4v3.7H123v7.4c0 1.8.5 2.4 2.4 2.4l1.7-.2v3.7l-3.4.3c-5.1-.1-5.8-1.9-5.8-5.1zM129.2 27c0-6.8 4.8-8.9 8.6-8.9s6.4 2.5 7.4 5.2l-4.3 1.4c-.7-2.2-1.7-2.9-3.2-2.9s-3.4 1.8-3.4 5.2 1 5.2 3.3 5.2 2.6-.7 3.4-3l4.3 1.5a7.7 7.7 0 0 1-7.7 5.2c-4 0-8.4-2.3-8.4-8.9zM147.9 11.8h5.2v9.3a7.3 7.3 0 0 1 5.9-3c2.9 0 5 1.4 5 5v12.4h-5.2V24.7c0-1.5-.6-2.3-2-2.3a5.8 5.8 0 0 0-3.7 1.7v11.4h-5.2z"/></svg>
          </a>
        </div>
        <div class="sponsor__logo">
          <a href="https://www.linkedin.com" target="_blank">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 148.34 36"><defs><style>.cls-1{fill:#fff}</style></defs><path class="cls-1" d="M146.34 29.05a.63.63 0 0 0 .64-.67c0-.48-.29-.71-.88-.71h-.95v2.5h.35v-1.09h.5l.69 1.07h.31l-.74-1.11zm-.42-.25h-.42V28h.5c.27 0 .58.05.58.41s-.27.39-.66.39z"/><path class="cls-1" d="M146 26.55a2.37 2.37 0 1 0 2.38 2.37 2.34 2.34 0 0 0-2.38-2.37zm0 4.45a2.06 2.06 0 1 1 2-2.06 2 2 0 0 1-2 2.06zM0 5.32h5.55v20.23h10.28v5.13H0V5.32zM18.29 13.49h5.33v17.18h-5.33zM21 5a3.1 3.1 0 1 1-3.14 3A3.1 3.1 0 0 1 21 5M45.94 5.32h5.33v15.16l6.05-7h6.54l-7 7.95 6.85 9.25h-6.7l-5.67-8.5h-.07v8.5h-5.33V5.32zM26.58 13.49h5.12v2.35h.07a5.62 5.62 0 0 1 5.05-2.78c5.41 0 6.41 3.56 6.41 8.19v9.42h-5.34v-8.35c0-2 0-4.56-2.78-4.56s-3.2 2.17-3.2 4.41v8.5h-5.33z"/><path class="cls-1" d="M75.09 20.08a3.19 3.19 0 0 0-3.27-3.27 3.56 3.56 0 0 0-3.77 3.27zm4.52 7.61a9.37 9.37 0 0 1-7.29 3.42c-5.34 0-9.61-3.56-9.61-9.07S67 13 72.32 13c5 0 8.11 3.56 8.11 9.08v1.67H68.05a4 4 0 0 0 4 3.34A4.54 4.54 0 0 0 75.87 25zM91.55 17.64A4 4 0 0 0 87.28 22a4.27 4.27 0 1 0 8.54 0 4 4 0 0 0-4.27-4.38m9.18 13h-4.91v-2.23h-.07a6.73 6.73 0 0 1-5.3 2.7c-5.13 0-8.51-3.7-8.51-8.93 0-4.8 3-9.21 7.9-9.21 2.21 0 4.27.6 5.48 2.27h.07v-9.9h5.34zM139.4 0h-30.68a2.63 2.63 0 0 0-2.65 2.6v30.8a2.63 2.63 0 0 0 2.65 2.6h30.68a2.64 2.64 0 0 0 2.67-2.6V2.6A2.64 2.64 0 0 0 139.4 0zm-22.65 30.68h-5.35V13.5h5.35zm-2.67-19.53a3.1 3.1 0 1 1 3.09-3.1 3.1 3.1 0 0 1-3.09 3.1zm22.66 19.53h-5.33v-8.36c0-2 0-4.55-2.78-4.55s-3.2 2.17-3.2 4.41v8.5h-5.33V13.5h5.11v2.34h.08a5.6 5.6 0 0 1 5-2.77c5.41 0 6.4 3.56 6.4 8.18z"/></svg>
          </a>
        </div>
        <div class="sponsor__logo">
          <a href="https://www.mozilla.org/en-US/?v=a" target="_blank">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 360 102.9"><defs><style>.cls-1{fill:#fff}</style></defs><path class="cls-1" d="M134.3 45.5c-6.6 0-10.7 4.9-10.7 13.4 0 7.8 3.6 13.8 10.6 13.8 6.7 0 11.1-5.3 11.1-14 0-9.1-4.9-13.2-11-13.2zM310.9 68.2c0 2.9 1.4 5.2 5.3 5.2 4.6 0 9.5-3.3 9.8-10.8a47.6 47.6 0 0 0-6.5-.6c-4.6 0-8.6 1.3-8.6 6.2z" transform="translate(0 .2)"/><path class="cls-1" d="M0-.2v102.9h360V-.2zm104.7 81.8H85.9V56.3c0-7.8-2.6-10.8-7.7-10.8-6.2 0-8.7 4.4-8.7 10.7v15.7h6v9.8H56.6V56.3c0-7.8-2.6-10.8-7.7-10.8-6.2 0-8.7 4.4-8.7 10.7v15.7h8.6v9.8H21.4v-9.8h6V46.4h-6v-9.8h18.9v6.8c2.7-4.8 7.4-7.7 13.7-7.7 6.5 0 12.5 3.1 14.7 9.7a15.12 15.12 0 0 1 14.7-9.7c8.1 0 15.5 4.9 15.5 15.6v20.5h5.8zm29.1 1.1c-13.9 0-23.5-8.5-23.5-22.9 0-13.2 8-24.1 24.2-24.1s24.1 10.9 24.1 23.5c0 14.4-10.4 23.5-24.8 23.5zm72.6-1h-39.3l-1.3-6.8 24.8-28.5h-14.1l-2 7-9.3-1 1.6-15.8h39.5l1 6.8-25 28.5h14.6l2.1-7 10.2 1zm25.8 0h-13.5V65.5h13.5zm0-28.9h-13.5V36.6h13.5zm8.3 28.8L260 12.9h12.7l-19.5 68.7zm26.2 0l19.5-68.7h12.7l-19.5 68.7zm69.3 1.1c-6 0-9.3-3.5-9.9-9-2.6 4.6-7.2 9-14.5 9-6.5 0-13.9-3.5-13.9-12.9 0-11.1 10.7-13.7 21-13.7a59 59 0 0 1 7.4.4V55c0-4.6-.1-10.1-7.4-10.1a14 14 0 0 0-6.9 1.3l-1.5 5.1-10.3-1.1 1.6-10.4c7.9-3.2 11.9-4.1 19.3-4.1 9.7 0 17.9 5 17.9 15.3v19.5c0 2.6 1 3.5 3.1 3.5a6.8 6.8 0 0 0 1.9-.3l.3 6.9a17.43 17.43 0 0 1-8.1 2.1z" transform="translate(0 .2)"/></svg>
          </a>
        </div>
        <div class="sponsor__logo">
          <a href="https://www.cognizant.com/accelerator" target="_blank">
            <svg width="197" height="50" viewBox="0 0 197 50" xmlns="http://www.w3.org/2000/svg"><g fill="#FFFFFF" fill-rule="evenodd"><path d="M5.066 48.956l1.394-5.44h7.004l1.36 5.44h5.406l-6.664-24.548H6.8L0 48.956h5.066zm7.31-9.214H7.48l2.346-10.608h.068l2.482 10.608zm18.096 9.622c4.794 0 7.412-2.108 7.412-8.67h-5.066c-.068 1.938.034 4.998-2.346 4.998-2.89 0-3.264-2.72-3.264-9.01 0-6.29.374-9.01 3.264-9.01 1.53 0 2.108 1.224 2.108 4.488h5.032c.204-5.27-1.904-8.16-7.14-8.16-8.466 0-8.466 6.188-8.466 12.682 0 6.426 0 12.682 8.466 12.682zm18.504 0c4.794 0 7.412-2.108 7.412-8.67h-5.066c-.068 1.938.034 4.998-2.346 4.998-2.89 0-3.264-2.72-3.264-9.01 0-6.29.374-9.01 3.264-9.01 1.53 0 2.108 1.224 2.108 4.488h5.032c.204-5.27-1.904-8.16-7.14-8.16-8.466 0-8.466 6.188-8.466 12.682 0 6.426 0 12.682 8.466 12.682zm23.944-.408v-3.774h-8.534v-7.174h7.616v-3.774h-7.616v-6.052h8.262v-3.774H59.252v24.548H72.92zm15.784 0v-4.08H81.02V24.408h-5.134v24.548h12.818zm15.512 0v-3.774h-8.534v-7.174h7.616v-3.774h-7.616v-6.052h8.262v-3.774H90.548v24.548h13.668zm7.964-20.774h2.278c1.632 0 2.618.884 2.618 3.23 0 1.564-.578 3.604-2.618 3.604h-2.278v-6.834zm0 10.608h1.326c3.944 0 3.672 2.482 3.672 5.406 0 1.598-.136 3.264.544 4.76h5.032c-.476-1.02-.578-5.644-.578-7.208 0-4.42-3.332-4.692-4.454-4.828v-.068c3.332-.544 4.556-2.89 4.556-6.018 0-4.182-2.244-6.426-5.746-6.426h-9.486v24.548h5.134V38.79zm16.668 10.166l1.394-5.44h7.004l1.36 5.44h5.406l-6.664-24.548h-6.766l-6.8 24.548h5.066zm7.31-9.214h-4.896l2.346-10.608h.068l2.482 10.608zm5.89-15.334v4.08h5.712v20.468h5.134V28.488h5.712v-4.08h-16.558zm26.766 21.284c-2.89 0-3.264-2.72-3.264-9.01 0-6.29.374-9.01 3.264-9.01 2.89 0 3.264 2.72 3.264 9.01 0 6.29-.374 9.01-3.264 9.01zm0 3.672c8.466 0 8.466-6.256 8.466-12.682 0-6.494 0-12.682-8.466-12.682s-8.466 6.188-8.466 12.682c0 6.426 0 12.682 8.466 12.682zm17.178-21.182h2.278c1.632 0 2.618.884 2.618 3.23 0 1.564-.578 3.604-2.618 3.604h-2.278v-6.834zm0 10.608h1.326c3.944 0 3.672 2.482 3.672 5.406 0 1.598-.136 3.264.544 4.76h5.032c-.476-1.02-.578-5.644-.578-7.208 0-4.42-3.332-4.692-4.454-4.828v-.068c3.332-.544 4.556-2.89 4.556-6.018 0-4.182-2.244-6.426-5.746-6.426h-9.486v24.548h5.134V38.79zM6.865 4.724c.02-.858-.043-1.717-.442-2.199-.401-.48-1.306-.648-1.707-.648-1.598 0-2.23.963-2.296 1.172-.06.167-.44.545-.44 3.14v4.04c0 3.706 1.221 4.146 2.712 4.146.592 0 2.384-.209 2.405-3.161h2C9.18 15.99 5.791 15.99 4.8 15.99 2.907 15.99 0 15.862 0 10V5.729C0 1.458 1.893.24 4.883.24c3.012 0 4.171 1.553 3.981 4.483h-2zM17.055 9.812c0-2.89-.904-3.516-2.233-3.516-1.325 0-2.23.626-2.23 3.516 0 3.434.442 4.669 2.23 4.669 1.792 0 2.233-1.235 2.233-4.669m-6.274.732c0-3.097.359-5.652 4.041-5.652 3.688 0 4.045 2.555 4.045 5.652 0 4.667-1.79 5.339-4.045 5.339-2.253 0-4.041-.672-4.041-5.34M24.594 6.316c-1.957 0-2.022 2.344-2.022 3.744 0 3.394.78 4.19 2.066 4.19 2.083 0 2.02-2.45 2.02-3.916 0-1.57.105-4.018-2.064-4.018zM26.618 5.1h1.725v11.64c0 2.366-1.58 2.932-3.918 2.932-1.767 0-3.367-.88-3.22-2.827h1.937c.021.987.672 1.528 1.62 1.528 1.199 0 1.856-.734 1.856-1.821v-2.2h-.066c-.442.84-1.408 1.32-2.337 1.32-2.885 0-3.453-2.468-3.453-5.613 0-4.857 2.464-5.168 3.326-5.168 1.118 0 1.998.48 2.485 1.506h.045V5.1zM36.914 15.673V8.347c0-1.132-.399-2.05-1.873-2.05-1.896 0-2.171 1.672-2.171 3.116v6.26h-1.725V7.299c0-.734-.042-1.465-.107-2.198h1.832v1.361h.085c.671-1.195 1.474-1.57 2.842-1.57 2.273 0 2.845 1.36 2.845 3.455v7.326h-1.728zM41.798 15.673h1.727V5.1h-1.727v10.572zm-.105-13.274h1.937V.56h-1.937v1.84zM52.726 6.673l-4.694 7.597h4.843v1.403h-6.719v-1.61l4.635-7.515v-.045h-4.406V5.101h6.341zM56.475 12.533c0 1.026.505 1.948 1.66 1.948 1.055 0 2.36-.65 2.19-4.063-1.639.024-3.85-.125-3.85 2.115zm3.895 1.612h-.045c-.523 1.214-1.345 1.738-2.672 1.738-2.254 0-2.904-1.447-2.904-3.476 0-3.204 3.157-3.348 5.576-3.287.045-1.4.066-2.93-1.788-2.93-1.159 0-1.768.772-1.663 1.882H55c.083-2.365 1.348-3.18 3.6-3.18 2.737 0 3.455 1.404 3.455 3.18v5.09c0 .837.083 1.696.21 2.51H60.37v-1.527zM70.624 15.673V8.347c0-1.132-.4-2.05-1.873-2.05-1.897 0-2.171 1.672-2.171 3.116v6.26h-1.725V7.299c0-.734-.042-1.465-.104-2.198h1.829v1.361h.087c.672-1.195 1.474-1.57 2.842-1.57 2.275 0 2.842 1.36 2.842 3.455v7.326h-1.727zM75.762 5.101V3.069l1.727-.774v2.806h2.316v1.297H77.49v6.47c0 .67 0 1.527 1.58 1.527.127 0 .4-.042.778-.083v1.32c-.569.041-1.137.166-1.706.166-1.642 0-2.379-.67-2.379-1.885V6.398h-1.748V5.1h1.748z"/></g></svg>
          </a>
        </div>
      </div>
    </div>


  {{outlet}}
</div>

{{outlet}}
