<div class="attend">
  <div class="padding--50 center-text white-border-bottom">
    Attend
  </div>
  <a href="https://ti.to/dinosaurjs/2017" class="buy-tix home__h4 white-border-bottom column--2of4"><h4>Purchase Tickets</h4></a>
  <div class="attend__wrap flex-grid flex--wrap">
    <div class="flex-grid">
      <div class="column--2of4 small-text padding--100 white-border-bottom">
        <p class="-text--center">
          Location
        </p>
      </div>

      <div class="white-border-bottom white-border-left column--2of4">
        map
      </div>
    </div>
  </div>
  {{outlet}}
</div>

{{outlet}}
