<div class="schedule">
  <div class="padding--50 center-text white-border-bottom">
    Schedule
  </div>

  <div class="schedule-section-title">
    <h2>June 21st Talks</h2>
    <h5>8:15AM - 5:45M<br>
    <a href="https://goo.gl/maps/zSiMtGZMbc52" target="_blank">Studio Loft &mdash; 908 14th Street, Denver</a>
  </h5>
  </div>

  <div class="schedule-wrap">
    {{#each talks as |talk|}}
      {{#seventeen-schedule-accordion time=talk.time title=talk.title icon=talk.icon hasToggle=talk.hasToggle speaker=talk.speaker classNames="schedule-item"}}
        {{#if talk.description}}
          <div class="schedule-description">{{talk.description}}</div>
        {{/if}}
      {{/seventeen-schedule-accordion}}
    {{/each}}
  </div>

  <div class="schedule-section-title workshops">
    <h2>June 16th Workshops</h2>
    <h5>9AM - 4PM<br>
    <a href="https://www.google.com/maps/place/Turing+School+of+Software+%26+Design/@39.7507738,-104.9973082,18z/data=!4m5!3m4!1s0x876c78c4f77d2b15:0x3ff4c7d558d0edd1!8m2!3d39.7508006!4d-104.9965947" target="_blank">Turing School of Software & Design</a>
  </h5>
  </div>

  <div class="schedule-wrap">
    {{#each workshops as |shop|}}
      {{#seventeen-schedule-accordion time=shop.time title=shop.title hasToggle=shop.hasToggle icon=shop.icon speaker=shop.speaker classNames="schedule-item"}}
        {{#if shop.description}}
          <div class="schedule-description">{{shop.description}}</div>
        {{/if}}
      {{/seventeen-schedule-accordion}}
    {{/each}}
  </div>

</div>

{{outlet}}
