<div class="valigner">
  <div class="valigner--cell">
    <ul>
      <li>{{#link-to 'home'}}Home{{/link-to}}</li>
      <li>{{#link-to 'speakers'}}Speakers{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li><a href="https://ti.to/dinosaurjs/2016" target="_blank">Register</a></li>
      <li class="not-active">{{#link-to 'schedule'}}Schedule Coming Soon{{/link-to}}</li>
    </ul>
  </div>
</div>

<div class="credit">
  Site by <a href="http://www.ultra-fragola.com" target="_blank">Ultra Fragola</a>
</div>
{{yield}}
