<ul>
  <li class="nav-item">{{#link-to 'home'}}Home{{/link-to}}</li>
  <li class="nav-item">{{#link-to 'speakers'}}Speakers{{/link-to}}</li>
  <li class="nav-item">{{#link-to 'schedule'}}Schedule{{/link-to}}</li>
  <li class="nav-item">{{#link-to 'about'}}About{{/link-to}}</li>
  <li class="nav-item">{{#link-to 'location'}}Location{{/link-to}}</li>
  <li class="nav-item">{{#link-to 'sponsors'}}Sponsors{{/link-to}}</li>
  <li class="nav-item">{{#link-to 'register'}}Register{{/link-to}}</li>
</ul>

{{yield}}
