<div class="valigner">
  <div class="valigner--cell">
    <ul>
      <li>{{#link-to '2016.home'}}Home{{/link-to}}</li>
      <li>{{#link-to '2016.speakers'}}Speakers{{/link-to}}</li>
      <li>{{#link-to '2016.attend'}}Attend{{/link-to}}</li>
      <li><a href="https://ti.to/dinosaurjs/2016" target="_blank">Register</a></li>
      <li>{{#link-to '2016.schedule'}}Schedule{{/link-to}}</li>
      <li>{{#link-to '2016.team'}}Team{{/link-to}}</li>
    </ul>
  </div>
</div>

<div class="credit">
  Site by <a href="http://www.ultra-fragola.com" target="_blank">Ultra Fragola</a>
</div>
{{yield}}
