<section>

  <div class="page-intro">
    <h1>Sponsor Dinosaur.js</h1>
    <p>We're looking for sponsors for our wonderful event. Check out our sponsor prospectus.</p>
    <hr />
  </div>

  <h3>This Level Sponsors</h3>

  <div class="sponsor-section">
    <div class="sponsor-wrapper row">
      <div class="sponsor-logo-wrapper col--1of3">
        <a href="" target="blank">
          <img src="http://richestcelebrities.org/wp-content/uploads/2014/09/Bruce-Willis-Net-Worth.jpg" class="sponsor-logo" />
        </a>
      </div>
      <div class="sponsor-description col--2of3">
        <h4>Sponsor Name</h4>
        <p>Mode Set is a boutique product consultancy out of Denver, Colorado leveraging Ember and Rails. Though nerds at heart, we do more than write code. We are entrepreneurs. We are artists. We invest deeply in our clients, taking full ownership to build smart and successful products.</p>
      </div>
    </div>
  </div>

  <div class="sponsor-section">
    <div class="sponsor-wrapper row">
      <div class="sponsor-logo-wrapper col--1of3">
        <a href="" target="blank">
          <img src="http://richestcelebrities.org/wp-content/uploads/2014/09/Bruce-Willis-Net-Worth.jpg" class="sponsor-logo" />
        </a>
      </div>
      <div class="sponsor-description col--2of3">
        <h4>Sponsor Name</h4>
        <p>Mode Set is a boutique product consultancy out of Denver, Colorado leveraging Ember and Rails. Though nerds at heart, we do more than write code. We are entrepreneurs. We are artists. We invest deeply in our clients, taking full ownership to build smart and successful products.</p>
      </div>
    </div>
  </div>

  <div class="sponsor-section">
    <div class="sponsor-wrapper row">
      <div class="sponsor-logo-wrapper col--1of3">
        <a href="" target="blank">
          <img src="http://richestcelebrities.org/wp-content/uploads/2014/09/Bruce-Willis-Net-Worth.jpg" class="sponsor-logo" />
        </a>
      </div>
      <div class="sponsor-description col--2of3">
        <h4>Sponsor Name</h4>
        <p>Mode Set is a boutique product consultancy out of Denver, Colorado leveraging Ember and Rails. Though nerds at heart, we do more than write code. We are entrepreneurs. We are artists. We invest deeply in our clients, taking full ownership to build smart and successful products.</p>
      </div>
    </div>
  </div>

  <hr />

  <h3>That Level Sponsors</h3>

  <div class="sponsor-section">
    <div class="sponsor-wrapper row">
      <div class="sponsor-logo-wrapper col--1of3">
        <a href="" target="blank">
          <img src="http://richestcelebrities.org/wp-content/uploads/2014/09/Bruce-Willis-Net-Worth.jpg" class="sponsor-logo" />
        </a>
      </div>
      <div class="sponsor-description col--2of3">
        <h4>Sponsor Name</h4>
        <p>Mode Set is a boutique product consultancy out of Denver, Colorado leveraging Ember and Rails. Though nerds at heart, we do more than write code. We are entrepreneurs. We are artists. We invest deeply in our clients, taking full ownership to build smart and successful products.</p>
      </div>
    </div>
  </div>

  <div class="sponsor-section">
    <div class="sponsor-wrapper row">
      <div class="sponsor-logo-wrapper col--1of3">
        <a href="" target="blank">
          <img src="http://richestcelebrities.org/wp-content/uploads/2014/09/Bruce-Willis-Net-Worth.jpg" class="sponsor-logo" />
        </a>
      </div>
      <div class="sponsor-description col--2of3">
        <h4>Sponsor Name</h4>
        <p>Mode Set is a boutique product consultancy out of Denver, Colorado leveraging Ember and Rails. Though nerds at heart, we do more than write code. We are entrepreneurs. We are artists. We invest deeply in our clients, taking full ownership to build smart and successful products.</p>
      </div>
    </div>
  </div>

  <div class="sponsor-section">
    <div class="sponsor-wrapper row">
      <div class="sponsor-logo-wrapper col--1of3">
        <a href="" target="blank">
          <img src="http://richestcelebrities.org/wp-content/uploads/2014/09/Bruce-Willis-Net-Worth.jpg" class="sponsor-logo" />
        </a>
      </div>
      <div class="sponsor-description col--2of3">
        <h4>Sponsor Name</h4>
        <p>Mode Set is a boutique product consultancy out of Denver, Colorado leveraging Ember and Rails. Though nerds at heart, we do more than write code. We are entrepreneurs. We are artists. We invest deeply in our clients, taking full ownership to build smart and successful products.</p>
      </div>
    </div>
  </div>





</section>
{{outlet}}
