<section>
  <div class="page-intro">
    <h2 class="margin-bottom--80">Sponsors</h2>
  </div>

  <div class="sponsor-section third -wrap">
    {{#each goldSponsors as |sponsor|}}
      <div class="logo">
        <a href="{{sponsor.link}}" target="blank">
          <img src="{{sponsor.img}}" class="sponsor-logo" />
        </a>
      </div>
      <!-- <div class="sponsor-description col--2of3"> -->
        {{!sponsor.name}}
        {{!#each sponsor.description as |line|}}
          <!-- <p> {{!line}} </p> -->
        {{!/each}}
      <!-- </div> -->
    {{/each}}
  </div>

  <br>
  <p>We're looking for sponsors for our wonderful event.
    <a href="http://cors-files.s3.amazonaws.com/dinoJS/DinosaurJS%20Sponsorship.pdf"
    target="_blank">Check out our sponsor prospectus</a>.</p>


</section>
