button, .button {
  font-weight: $font_weight_bold;
  font-family: inherit;
  font-size: $base_font_size_sm;
  text-align: center;
  color: $color_black;
  background-color: transparent;
  vertical-align: middle;
  text-transform: capitalize;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 24px;
  cursor: pointer;
  border: 1px solid $color_black;
  border-radius: 15px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  outline: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  -moz-transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  -webkit-transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

  &.center {
    display: block;
    margin: 0 auto;
  }

  &:hover {
    background-color: $color_black;
    border-color: $color_black;
  }

  &.large {
    height: 40px;
    border-radius: 20px;
    line-height: 36px;
    font-size: $base_font_size;
  }

  &.white {
    background: $color_white;
    &:hover {
      background-color: $color_black;
    }
  }

  &.full {
    width: 100%;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }

}


select {
  -webkit-appearance: none;
  position: relative;
  height: 32px;
  border: none;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .01em;
  border-collapse: separate;
  padding: 0 39px 0 18px;
  margin-bottom: 2em;
  background: url('/assets/images/dropdown.svg') no-repeat right center #E0E0E0;
  background-size: 30px auto;
  width: 100%;
  max-width: 635px;
  color: #484848;
  background-color: $color_grey_medium;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  min-width: 50px;
  max-width: 635px;
  transition: background-color 250ms ease-in-out;
  -moz-transition: background-color 250ms ease-in-out;
  -webkit-transition: background-color 250ms ease-in-out;

  &:focus {
    outline: 0 none;
  }

  &:hover {
    background-color: darken($color_grey_medium, 5%);
  }
}
