button, .button {
  font-weight: $font_weight_bold;
  font-family: inherit;
  font-size: $base_font_size_sm;
  text-align: center;
  color: $color_black;
  background-color: transparent;
  vertical-align: middle;
  text-transform: capitalize;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 24px;
  cursor: pointer;
  border: 1px solid $color_gold;
  border-radius: 15px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  outline: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  -moz-transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  -webkit-transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

  &.center {
    display: block;
    margin: 0 auto;
  }

  &:hover {
    background-color: $color_gold;
    border-color: $color_gold;
  }

  &.large {
    height: 40px;
    border-radius: 20px;
    line-height: 36px;
    font-size: $base_font_size;
  }

  &.gold {
    background-color: $color_gold;
    &:hover {
      background-color: $color_white;
    }
  }

  &.white {
    background: $color_white;
    &:hover {
      background-color: $color_gold;
    }
  }

  &.full {
    width: 100%;
  }

  &.lighttext {
    color: $color_white;
    &:hover {
      background-color: $color_gold;
    }
  }

  &.tag {
    border-radius: 8px;
  }

  &.filter {
    height: 40px;
    border-radius: 8px;
    border-color: $color_grey;
    color: $color_grey;
    &:hover {
      border-color: $color_gold;
      background-color: transparent;
      color: $color_black;
    }
    &.active {
      border-color: $color_gold;
      color: $color_black;
    }
  }

  &.filter-gold {
    height: 40px;
    border-radius: 8px;
    border-color: $color_grey;
    color: $color_grey;
    &:hover {
      border-color: $color_gold;
      background-color: $color_gold;
      color: $color_black;
    }
    &.active {
      border-color: $color_gold;
      background-color: $color_gold;
      color: $color_black;
    }
  }

  &.filter-cyan {
    border-color: $color_cyan;
    background-color: $color_cyan;
    &:hover {
      background-color: darken($color_cyan, 5%);
      color: $color_white;
      }
    &.active {
      border-color: $color_gold;
      background-color: $color_gold;
      color: $color_black;
    }
  }

  &.admin {
    background-color: $color_black;
    color: $color_white;
    border: none;
    &.blue {
      background-color: $color_pink;
      color: $color_black;
      border: none;
    }
    &:hover {
      background-color: darken($color_grey_dark, 10%);
    }
    &:disabled {
      background-color: $color_black;
      &:hover {
        background-color: $color_black;
      }
    }
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }

  &.admin-filter-select {
    height: 30px;
    line-height: 30px;
    border-radius: 0;
    display: inline-block;
    background-color: $color_grey_medium;
    border: none;
    margin-bottom: 5px;

    &.active {
      background-color: $color_grey_dark;
      color: $color_white;
    }
    &:hover {
      background-color: $color_grey_dark;
      color: $color_white;
    }
  }

}


select {
  -webkit-appearance: none;
  position: relative;
  height: 32px;
  border: none;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .01em;
  border-collapse: separate;
  padding: 0 39px 0 18px;
  margin-bottom: 2em;
  background: url('/assets/images/dropdown.svg') no-repeat right center #E0E0E0;
  background-size: 30px auto;
  width: 100%;
  max-width: 635px;
  color: #484848;
  background-color: $color_grey_medium;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  min-width: 50px;
  max-width: 635px;
  transition: background-color 250ms ease-in-out;
  -moz-transition: background-color 250ms ease-in-out;
  -webkit-transition: background-color 250ms ease-in-out;

  &:focus {
    outline: 0 none;
  }

  &:hover {
    background-color: darken($color_grey_medium, 5%);
  }
}

.filter-section {

  button {
    height: 40px;
    border-radius: 8px;
    border-color: $color_grey;
    color: $color_grey;
    margin: 0px 10px 10px 0px;
    padding: 0 20px;
    &:hover {
      border-color: $color_gold;
      background-color: transparent;
      color: $color_black;
    }
    &.active {
      border-color: $color_gold;
      color: $color_black;
    }
  }
}

.filter-section-gold {
  button {
    height: 40px;
    border-radius: 8px;
    border-color: $color_grey;
    background-color: $color_white;
    color: $color_grey;
    margin: 0px 10px 10px 0px;
    &:hover {
      border-color: $color_gold;
      background-color: $color_gold;
      color: $color_black;
    }
    &.active {
      border-color: $color_gold;
      background-color: $color_gold;
      color: $color_black;
    }
  }

}

.-admin-button {
  display: inline-block;
  a {
    border-bottom: none;
  }
  button {
    background-color: $color_pink !important;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    color: $color_black;
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
    &:hover {
      background-color: darken($color_pink, 5%);
      color: $color_white;
      }
    }
  }

.type-1, .type-2, .type-3, .type-4, .page-header {
  .-admin-button {
    background-color: $color_pink !important;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    color: $color_black !important;
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
    padding: 0 10px;
    line-height: 20px;
    height: 20px;
    &:hover {
      background-color: darken($color_pink, 5%) !important;
    }
  }

  .cta-button {
    padding: 0;
    label {
      padding: 0 10px;
      cursor: pointer;
      }
    input[type='checkbox'] {
      display: none;
    }
    .active {
      float: left;
    }
  }

}
