.box {
  display: flex;
}

.box__1 {
  flex: 1;
}

.box__2 {
  flex: 2;
}


.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}


.flex-image {
  width: 100%;
  height: auto;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.flex-wrap {
  flex-wrap: wrap;
}

/*Pushes final flex element to the right side - use for right-aligned crud buttons */
.flex--right {
  margin-left: auto;
}

/*For a full-width header in flexbox */
.flex-header {
  flex: 0 0 auto;
  display: flex;
}

.flex-100 {
  flex: 0 0 auto;
}


.justify-content {
  display: flex;
  justify-content: center;
  text-align: center;
}





// container
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: $container_max-width;
  padding: 0 $grid_side_padding;
  }

.container-full {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
    }

.split {
  display: flex;

  & > * {
    width: 50%;
  }
}

.third {
  display: flex;
  &.-wrap {
    -moz-box-wrap: wrap;
    -webkit-box-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flexbox-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  & > * {
    width: 33.333%;
  }
}

.forth {
  display: flex;

  & > * {
    width: 20%;
  }
}


// grid
.row {
    position: relative;

    &:after {
      content: "";
      display: table;
      clear: both;
      }
    }


// col
[class*="col--"] {
    float: left;
    position: relative;
    width: 100%;
    vertical-align: top;

    .inner {
      margin-left: $grid_col_padding;
      }

    &:first-child .inner{
      margin-left: 0;
      }
    }

.col-right {
    float: right;
    position: relative;
}
// col: main
@each $col in $grid_columns {
    .col--#{$col}of#{$grid_length} {
        width: percentage( $col / $grid_length );
        }
}

// col: extras
.col--1of4 { width: 25%; }
.col--2of4 { width: 50%; }
.col--3of4 { width: 75%; }
.col--1of5 { width: 20%; }
.col--2of5 { width: 40%; }
.col--3of5 { width: 60%; }
.col--4of5 { width: 80%; }
.col--1of3 { width: 33.333%; }
.col--2of3 { width: 66.666%; }

.row-plan {
  overflow: hidden;
  text-align: center;
  }

.col--plan {
  display: inline-block;
  width: 30%;
  float: none;
}


// col: push
@each $col in $grid_columns {
    .push--#{$col} {
        margin-left: percentage( $col / $grid_length );
        }
}

// col: pull
@each $col in $grid_columns {
    .-pull--#{$col} {
        margin-left: -( percentage( $col / $grid_length ) );
        }
}

// col: prepend
@each $col in $grid_columns {
    .-prepend--#{$col} {
        margin-top: percentage( $col / $grid_length );
        }
}

// col: append
@each $col in $grid_columns {
    .-append--#{$col} {
        margin-bottom: percentage( $col / $grid_length );
        }
}

@media only screen and ( max-width: $break_tablet_small ) {
  .split,
  .third,
  .forth {
    flex-direction: column;
  }

  .split > *,
  .third > *,
  .forth > * {
    width: 100%;
  }


  .col:not(.col--mobile-same),
  [class*="col--"]:not(.col--mobile-same) {
      float: none !important;
      width: 100% !important;
      .inner {
        margin-left: 0;
        }
      }

  div[class*="push--"] {
    margin-left: 0 !important;
  }

  div[class^="padding-"] {
    padding: 0 !important;
  }

}
